Aim:Demonstrate a program to print the sum of the series 1/12+
1/22+1/32 +……. +1/n2
. where n is taken from the user.

Program:

In [ ]:
x=int(input("Enter a number:"))
sum=0
for i in range(1,x+1):
  sum+=1/i**2
print("1/1^2+1/2^2+1/3^2.....1/n^2=",sum)

Enter a number:3
1/1^2+1/2^2+1/3^2.....1/n^2= 1.3611111111111112

Aim: Write a program to implement Sum of cubes of numbers from 1 to n using range ().

Porgram:

In [ ]:
n=int(input("Enter a number:"))
sum=0
for i in range(1,n+1):
  sum+=i**3
print("Sum of Cubes=",sum)

Enter a number:6
Sum of Cubes= 441

Aim: Write a program to implement Sum Display the numbers in descending order using range ().


Program:

In [ ]:
n=int(input("Enter a number:"))
for i in range(n,0,-1):
  print(i,end=" ")

Enter a number:12
12 11 10 9 8 7 6 5 4 3 2 1

Aim: Write a program to implement Sum of squares of even numbers from 1 to n using range ().

Program:

In [ ]:
n=int(input("Enter a number:"))
sum=0
for i in range(1,n+1):
  if i%2==0:
    sum+=i**2
print("Sum of squares of even numbers:",sum)

Enter a number:10
Sum of sqyares of even numbers: 220

Aim: Write a program to implement Display all leap years from 2000 – 2200 using range ().

program:

In [ ]:
for i in range(2000,2201):
  if (i%4==0 and i%100!=0) or i%400==0:
    print(i,end=" ")

2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2104 2108 2112 2116 2120 2124 2128 2132 2136 2140 2144 2148 2152 2156 2160 2164 2168 2172 2176 2180 2184 2188 2192 2196

Aim: Write a program to print the below patterns:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21


Program:

In [ ]:
n=int(input("Enter a number:"))
num=1
for i in range(1,n+1):
  for j in range(i):
    print(num,end=" ")
    num+=1
  print()

Enter a number:10
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

Aim: Write a program to print the below patterns:

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1


Program:

In [ ]:
n=int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

Enter a number:15
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
13 12 11 10 9 8 7 6 5 4 3 2 1
14 13 12 11 10 9 8 7 6 5 4 3 2 1
15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

Aim: Write a program to print the below patterns:

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Program:

In [ ]:
n=int(input("Enter a number:"))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

Enter a number:10
10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Aim: Write a program to print the below pattern
    *
   * *
  * * *
 * * * *
* * * * *

Program:

In [ ]:
n=int(input("Enter a number:"))
for i in range(1,n+1):
  for k in range(n- i):
    print(end=" ")
  for j in range(i):
    print("*",end=" ")
  print()

Enter a number:10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

Aim: Write a program to print the below pattern

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

program:

In [ ]:
n=int(input("Enter a number:"))
for i in range(1,n+1):
  for k in range(n-i):
    print(" ",end=" ")
  for j in range(i):
    print(j+1,end=" ")
  print()

Enter a number:10
                  1
                1 2
              1 2 3
            1 2 3 4
          1 2 3 4 5
        1 2 3 4 5 6
      1 2 3 4 5 6 7
    1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
n=9
for i in range(n):
  for j in range(n):
    if i==0 or j==0 or j==n-1 or i==n-1 :
      print("*",end=" ")
    else:
      print(end=" ")
  print()

* * * * * * * * *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
* * * * * * * * *